.about-title{
color: white;
margin-top: 30px;
margin-bottom: 30px;

}
.about-page{
    color: #ffffff;
    margin-left: 50px;
    
}
p {
    width: 80%;
}
.float-container {
    display: grid;
    /* border: 3px solid #fff; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 20px;
}

.float-child {
    margin-left: 2px;
    /* border: 2px solid red; */
}  
.float-container2 {
    display: grid;
    /* border: 3px solid #fff; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   margin-top: 40px;
}
.float-child1 {
    /* border: 2px solid red; */
    grid-row: 2/3;
    /* position: relative; */
} 

.float-child2 {
    /* border: 2px solid red; */
    grid-row: 2/3;
    
} 
.float-child3 {
    /* border: 2px solid red; */
    grid-row: 2/3;
    
} 